* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 640px;
}
.wrap {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .wrap {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.main {
  flex: 1 0 auto;
}
@media screen and (min-width: 992px) {
  .main-content {
    background-image: url(assets/image/222.png);
    padding: 0px 0 71px 0;
    background-size: cover;
  }
}
.main__button button {
  display: none;
  position: absolute;
  top: 300px;
  background: #f5c506;
  width: 32px;
  height: 57px;
  border: none;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.main__button button:hover {
  background: #d4d4d4;
  color: red;
}
@media screen and (min-width: 992px) {
  .main__button button {
    display: block;
  }
}
.header {
  flex: 0 0 auto;
  width: 100%;
  height: 62px;
  background-color: #f5c506;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .header {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 37px 0 69px 0;
  }
}
.header__logo {
  background-image: linear-gradient(0deg, #000000 0%, #ffffff 179%);
  height: 62px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .header__logo {
    background-image: none;
    height: 87px;
    width: 311px;
  }
}
.logo {
  display: flex;
  align-items: center;
}
.header__item {
  font-size: 19px;
  color: #ffffff;
  font-family: "Lucida SansI";
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
  font-weight: normal;
  margin: 9px 14px 4px 3px;
}
@media screen and (min-width: 992px) {
  .header__item {
    font-size: 41px;
    margin: 0;
    padding: 14px 0px 0 5px;
  }
}
.header__navigation {
  width: 73%;
  display: flex;
}
@media screen and (min-width: 992px) {
  .header__navigation {
    width: 453px;
    height: 41px;
    margin-top: 43px;
    -webkit-box-shadow: -4px -5px 0px 0px rgba(244, 196, 6, 0.5),
      -8px -8px 0px 0px rgba(244, 196, 6, 0.3);
    box-shadow: -4px -5px 0px 0px rgba(244, 196, 6, 0.5),
      -8px -8px 0px 0px rgba(244, 196, 6, 0.3);
  }
}
.header__menu {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-family: "Segoe WP";
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .header__menu {
    height: 43px;
    background: #f5c506;
    font-size: 17px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
  }
}
.header-menu__item {
  border-right: 1px solid #d9af05;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-menu__item:hover {
  opacity: 0.6;
}

.menu-item__aboutus {
  flex-grow: 2;
}
.menu-item__services {
  flex-grow: 1;
}
.menu-item__contact {
  flex-grow: 1;
}
.header-menu__item:last-child {
  border-right: none;
}
.header-menu__link {
  color: #9b7d08;
  text-decoration: none;
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .video-block {
    display: flex;
    align-items: center;
  }
}
.main__video {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .main__video video {
    width: 549px;
    height: 327px;
    object-fit: cover;
    object-position: -53px;
    padding: 0 10px;
  }
}
.text-header {
  display: none;
}
@media screen and (min-width: 992px) {
  .text-header {
    display: flex;
    font-size: 63px;
    letter-spacing: 1px;
    color: #f5c506;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    padding: 0px 22px 29px;
  }
  .text-header span {
    color: white;
    white-space: pre;
    padding-left: 17px;
  }
}
.section-menu {
  background: url(123png) 100%;
  position: relative;
  box-shadow: 0px -1px 4px 2px #fff, 0px -2px 5px 4px #fff;
}
@media screen and (min-width: 992px) {
  .section-menu {
    box-shadow: 0px -1px 4px 2px #000, 0px -2px 5px 4px #000;
  }
  .left-video {
    margin: 0;
  }
  .right-video {
    margin: 0;
  }
}
.menu ul {
  display: flex;
  justify-content: space-around;
  height: 166px;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .menu ul {
    height: 214px;
  }
}
.menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .menu li {
    width: 34%;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
  }
}
.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;

  color: #000000;
  font-family: "Segoe WP";
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .video-2 {
    margin: 0 auto;
    background: url(assets/image/321.png);
    height: 508px;
    display: flex;
  }
  .wrapper-video-2 {
    display: flex;
    justify-content: space-between;
  }
}
.video2 {
  display: flex;
  margin: 15px 8px 9px 9px;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .video2 {
    margin: 0 0px 0 0;
  }
}
.left-video {
  background: #ec9e03;
  margin-right: 4.5px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 33px 15px 27px;
}
@media screen and (min-width: 992px) {
  .video2 > .left-video {
    margin: 0;
  }
}
.title-video-2 {
  display: none;
  font-size: 37px;

  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 400;
  text-transform: uppercase;
  padding: 33px 0 34px 0;
}
@media screen and (min-width: 992px) {
  .title-video-2 {
    display: block;
  }
}
.right-video {
  display: flex;
  margin-left: 4.5px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .right-video {
    margin: 0;
  }
}
.left-video button {
  width: 35px;
  border: none;
  display: block;
  height: 35px;
  cursor: pointer;
  background: #ec9e03;
  color: #f8ead6;
  font-size: 15px;
  font-family: "Arial";
  line-height: 1.2;
  position: absolute;
  bottom: 5px;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 21px;
}

.left-video p {
  font-size: 29px;
  line-height: 33px;
  color: #ffffff;
  font-family: "Segoe WPL";
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .left-video p {
    width: 279px;

    font-size: 29px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WPL";
    font-weight: 300;
  }
}
.twitter {
  background: #f5c507;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .twitter {
    background: #ec9e03;
  }
}
.twitter-image {
  position: relative;
  padding: 59px 80px 37px 85px;
}
.twitter-image img {
  width: 159px;
  height: 133px;
}
@media screen and (min-width: 992px) {
  .twitter-image img {
    width: 164px;
    height: 134px;
  }
}
.only-dekstop-twitter {
  display: none;
  font-size: 25px;

  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP";
  font-weight: 300;
  right: 0px;
  top: 10px;
  width: 46px;
  height: 25px;
}
.only-dekstop-twitter-button {
  display: none;
  width: 34px;
  height: 37px;
  color: #ffffff;
  right: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  .only-dekstop-twitter,
  .only-dekstop-twitter-button {
    display: block;
    position: absolute;
  }
}
.tweet {
  padding: 24px 0px 0px 0px;
  width: 50%;
}
@media screen and (min-width: 992px) {
  .tweet {
    display: none;
  }
}
.tweet ul li {
  font-size: 13px;

  color: #8f8e8e;
  font-family: "Arial";
  width: 284px;
  height: 42px;
  border-radius: 10px;
  background: url(bubble.svg);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet li {
  margin: 0 0 14px;
}
.tweet li p {
  width: 232px;
}
.tweet form input {
  width: 100%;
}
form.header-search {
  position: relative;
  width: 270px;
  top: -1px;
  left: 12px;
  border-radius: 10px;
}
.header-search input {
  border-style: solid;
  border-width: 1px;
  border-color: #d0a806;
  border-radius: 10px;
  background-color: #fff;
  height: 29px;
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
}
.header-search button {
  width: 69px;
  border: none;
  display: block;
  height: 31px;
  cursor: pointer;
  background: #df9e1c;
  color: #f8ead6;
  font-size: 15px;
  font-family: "Arial";
  line-height: 1.2;
  position: absolute;
  top: 0;
  right: -1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.date {
  width: 113px;
  height: 86px;
  background: #ddb101;
  display: none;
  color: #b26529;
  text-transform: uppercase;
  font-size: 21px;
  font-family: "Segoe UI";
}
.date__day {
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .date {
    display: block;
  }
  .date p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.radio2 {
  display: none;
  padding: 42px 0 18px 0;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .radio2 {
    display: flex;
  }
}
input[type="range"].radio {
  -webkit-appearance: none;
  width: 88%;
  margin: 0px 0;
  border-radius: 7px;
}
input[type="range"].radio:focus {
  outline: none;
}
input[type="range"].radio::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"].radio::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 197px;
  border-radius: 7px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"].radio:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"].radio::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"].radio::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 197px;
  border-radius: 7px;
  background: #ec9e03;
  cursor: pointer;
}
input[type="range"].radio::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].radio::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"].radio::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"].radio::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  width: 197px;
  border-radius: 7px;
  background: #ec9e03;
  cursor: pointer;
  height: 15px;
}
input[type="range"].radio:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type="range"].radio:focus::-ms-fill-upper {
  background: #ffffff;
}

.ellipse-3 {
  border-radius: 50%;
  background-color: rgb(245, 197, 6);
  position: absolute;
  left: -18px;
  top: -41px;
  width: 116px;
  height: 116px;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .ellipse-3 {
    left: -3px;
    top: -44px;
  }
}

.ellipse-3 span {
  font-size: 51px;
  font-family: "PT SansNB";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.36708860759494, 0, 0, 0.36708860759494, 0, 0);
  -webkit-transform: matrix(0.36708860759494, 0, 0, 0.36708860759494, 0, 0);
  -ms-transform: matrix(0.36708860759494, 0, 0, 0.36708860759494, 0, 0);
  position: absolute;
  left: -81px;
  top: 29px;
  white-space: pre;
}
.table-ulli-only-dekstop {
  display: none;
}
.table-ulli-only-dekstop p {
  width: 352px;
  height: 45px;
  font-size: 22px;

  color: #a9a9a7;
  font-family: "Open Sans";
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .table-ulli-only-dekstop {
    display: block;
  }
}
.section {
  background: #474747;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 35px 0 36px;
}
@media screen and (min-width: 992px) {
  .section {
    background-image: url(assets/image/bg_section.png);
    padding: 0 0 100px 0;
  }
}

.title {
  margin-right: 11px;
  text-transform: uppercase;
  font-size: 39px;
  text-align: center;
  color: #f5c506;
  font-family: "Open SansS";
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 43px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    margin: 0;
    padding: 38px 0 49px 0;
  }
}
.table-content {
  padding-top: 76px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .table-content {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
}
.imgdekstop {
  padding-left: 10px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .imgdekstop {
    padding: 0 0 0 18px;
  }
}
.footer {
  flex: 0 0 auto;
  height: 43px;
  background: #4c4c4c;
  box-shadow: -0.105px -2.998px 5px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 16px 0 16px 0;
    height: 100%;
  }
}
.footer .footer_logo {
  width: 133px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
  margin-left: 62px;
}
@media screen and (min-width: 992px) {
  .footer .footer_logo {
    font-size: 29px;
  }
}
@media screen and (max-width: 680px) {
  .header-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 850px) {
  .header-top {
    padding-top: 0;
  }
}
